Aku I want to Yeah. Satrio Yang ini, ini minggu kemarin Okay, all Oke, ini nanti rencananya saya buatkan Nah, nanti rencananya saya buatkan seperti ini. Jadi setiap di KPM acara nanti, eh, Oh.
Eh, saya checklist Seperti ini, kalau sudah lengkap kalian nanti juga bisa lihat ya, saya Ini biar tahu... Kemudian nilai satu ini yang tepat Ini I Bro, can't prove. No, but, bro. No more, bro. Ganti. I don't get giggly, but I don't get it. I think we're Chappelle, Chappelle, 3, 2, 2, 2, 1. 3, 2, 2, 1.